Flask>=3.0.0
flask-cors>=4.0.0
gliner
transformers>=4.48.0
torch
chonkie[all]
sentence-transformers
youtube-transcript-api>=1.0.0
underthesea
sentencepiece
python-docx
trafilatura
gunicorn
openai
pillow
whisperx
yt-dlp
torchaudio<2.9
mlx_whisper